import(Matrix)
import(lme4)
import(mgcv)
import(methods)
export(gamm4)
importFrom("stats", "as.formula", "delete.response", "deviance",
     "gaussian", "reformulate", "residuals")
importFrom("utils", "packageDescription")
